In [1]:
import numpy as np
import allel

In [2]:
vcf=allel.read_vcf('/Users/Azaidi/Documents/gwas_bias2/optimize_migration_rate/complex_dem/genos_complex_l1e7_ss250_m0.05_chr1.ids.cmpruned.vcf.gz')

In [3]:
gt = allel.GenotypeArray(vcf['calldata/GT'])

In [12]:
pops = [list(range( ((i-1)*250)+1 , ((i-1)*250)+251)) for i in range(1,35)]

In [61]:
a,b,c =allel.weir_cockerham_fst(gt, pops)

a = np.take(a,indices=1,axis=1)
b = np.take(b,indices=1,axis=1)
c = np.take(c,indices=1,axis=1)

In [102]:
denom = a+b+c
ix_0 = np.where(denom!=0)[0]
fst = np.zeros(len(a))
fst[ix_0] =  a[ix_0]/denom[ix_0]

In [103]:
df = pd.DataFrame({"a":a,
                   "b":b,
                   "c":c,
                   "fst":fst})

In [104]:
df.head(5)

          a         b         c       fst
0  0.000107  0.000373  0.078765  0.001346
1  0.000375 -0.001506  0.251118  0.001502
2  0.002601 -0.001083  0.246882  0.010470
3  0.000234  0.001000  0.246294  0.000944
4  0.001377  0.002276  0.246059  0.005513

In [97]:
a[0]/0.08

0.001333487962545369

In [99]:
np.histogram(fst)

(array([  0,   0,   0,   0,   0, 590,   0,   0,   0,   0]),
 array([-0.5, -0.4, -0.3, -0.2, -0.1,  0. ,  0.1,  0.2,  0.3,  0.4,  0.5]))